<!DOCTYPE html>
<html class="engage-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Engagera dig</title>
    <link rel="stylesheet" href="../styles/substyles.css">
    <link rel="stylesheet" href="../styles/overlay.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400i" rel="stylesheet">

</head>
<body>
<div class="content" id="logoContent">

    <img src="../media/Logga-utantext.png" id="logo"/>

</div>
<div class="content" id="navContent">


    <header>
        <nav class="menu">
            <div class="strokes"></div>
            <div class="strokes"></div>
            <div class="strokes"></div>
        </nav>
    </header>

    <div class="fullscreenmenu">
        <ul>
            <li>
                <a href="../index.html">START</a>
            </li>

            <li>
                <a href="../views/fof.html">FAKTA OCH FORSKNING</a>
            </li>

            <li>
                <a href="../views/svarpatal.html">OM SVENSKA SKOGEN VAR UPPRIKTIGA</a>
            </li>
            <li>
                <a href="../views/vadarsss.html">VAD ÄR SLUTA SLAKTA SKOGEN?</a>
            </li>
            <li>
                <a href="../views/engageradig.html">ENGAGERA DIG</a>
            </li>
            <li>
                <a href="../views/faltbiologerna.html">OM FÄLTBIOLOGERNA</a>
            </li>
        </ul>
    </div>

</div>

<article>
    <h2>Jag vill engagera mig! Hur gör jag?</h2>
    <p>Kul! Vi kommer att konfrontera dagens ohållbara kalhyggesmetod på flera nivåer. Här följer några tips på vad du kan göra:</p>

    <h2>Organisering</h2>
   <p>Bli medlem i Fältbiologerna! Är du under 26 kan du bli <strong>ungdomsmedlem</strong> i föreningen och vara med ute i naturen och inne i miljödebatten för att både uppleva och värna om naturen. Bli det <a href="https://www.faltbiologerna.se/bli-medlem/" class="links">här</a>!
Är du över 26 kan du bli stödmedlem för att stötta vårt arbete.
Med din hjälp kan unga i Sverige fortsätta uppleva naturen och vår röst höras i klimat- och miljödebatten som faktiskt handlar om vår framtid.
<a href="https://www.faltbiologerna.se/klubbar-nara-dig/" class="links">Här</a> kan du också kontakta din lokalförening och fråga om deras aktiviteter för att sluta slakta skogen eller föreslå
 en sådan aktivitet. För fler tips och frågor kan du kontakta oss på riks.styrelsen@faltbiologerna.se </p>

    <h2>Direkt aktion</h2>
    
    <ol>
    <li class="aktionlist">Mejla eller ring din lokala skogsägare och fråga varför de fortfarande kalavverkar sina skogar istället för att ställa om till hyggesfritt. Det kan vara kommunen, Svenska Kyrkan eller någon annan skogspamp</li>
    <li class="aktionlist">Planera och genomför en aktion! </li>
    <li class="aktionlist">Mejlbomba Svenska Kyrkan (eller annan organisation)! </li>
    <li class="aktionlist">Skriv och dela budskapet i sociala medier under hashtagg #slutaslaktaskogen.</li>
    </ol>
    
    
    
</article>

</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="../navScript.js"></script>