<!DOCTYPE html>
<html class="engage-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fältbiologerna</title>
    <link rel="stylesheet" href="../styles/substyles.css">
    <link rel="stylesheet" href="../styles/overlay.css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400i" rel="stylesheet">



</head>
<body>
<div class="content" id="logoContent">

    <img src="../media/Logga-utantext.png" id="logo"/>

</div>
<div class="content" id="navContent">


    <header>
        <nav class="menu">
            <div class="strokes"></div>
            <div class="strokes"></div>
            <div class="strokes"></div>
        </nav>
    </header>

    <div class="fullscreenmenu">
        <ul>
            <li>
                <a href="../index.html">START</a>
            </li>

            <li>
                <a href="../views/fof.html">FAKTA OCH FORSKNING</a>
            </li>

            <li>
                <a href="../views/svarpatal.html">OM SVENSKA SKOGEN VAR UPPRIKTIGA</a>
            </li>
            <li>
                <a href="../views/vadarsss.html">VAD ÄR SLUTA SLAKTA SKOGEN?</a>
            </li>
            <li>
                <a href="../views/engageradig.html">ENGAGERA DIG</a>
            </li>
            <li>
                <a href="../views/faltbiologerna.html">OM FÄLTBIOLOGERNA</a>
            </li>
        </ul>
    </div>

</div>
<article>
<h2>VARFÖR VI FINNS?</h1>
<h3>För att alla unga ska bli miljöhjältar så klart!</h3>
<p>
Fältbiologerna finns för att vi lever på en planet där människans framfart äventyrar både vår och naturens framtid – därför behövs vi. Blir du arg när politikerna skiter i klimatet? Tycker du det är fascinerande med självlysande alger? Vill du förbättra din och andras framtid? Eller gillar du bara att vara ute i naturen?

Allt det och lite till gör vi! Hos oss ges du möjligheten att hänga i naturen och tillsammans med andra lära dig mer. Du tar ställning för en bättre värld och får chansen att kämpa för det du tror på!

Vi är Sveriges största ideella förening för natur- och miljöintresserade unga och har funnits sedan 1947.</p>

<h3>Vår vision är <strong>en värld med naturens bästa i centrum</strong>en</h3>
    <a href="https://www.faltbiologerna.se" id="fbio">www.faltbiologerna.se</a>
</article>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="../navScript.js"></script>