<!DOCTYPE html>
<html class="engage-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fakta och forskning</title>
    <link rel="stylesheet" href="../styles/substyles.css">
    <link rel="stylesheet" href="../styles/overlay.css">

    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400i" rel="stylesheet">



</head>
<body>
<div class="content" id="logoContent">

    <img src="../media/Logga-utantext.png" id="logo"/>

</div>
<div class="content" id="navContent">


    <header>
        <nav class="menu">
            <div class="strokes"></div>
            <div class="strokes"></div>
            <div class="strokes"></div>
        </nav>
    </header>

    <div class="fullscreenmenu">
        <ul>
            <li>
                <a href="../index.html">START</a>
            </li>

            <li>
                <a href="../views/fof.html">FAKTA OCH FORSKNING</a>
            </li>

            <li>
                <a href="../views/svarpatal.html">OM SVENSKA SKOGEN VAR UPPRIKTIGA</a>
            </li>
            <li>
                <a href="../views/vadarsss.html">VAD ÄR SLUTA SLAKTA SKOGEN?</a>
            </li>
            <li>
                <a href="../views/engageradig.html">ENGAGERA DIG</a>
            </li>
            <li>
                <a href="../views/faltbiologerna.html">OM FÄLTBIOLOGERNA</a>
            </li>
        </ul>
    </div>

</div>
<article>

    <h2>Fakta och forskning</h2>

    <h3>Vad är ett kalhygge?</h3>
<p>    Ett kalhygge är ett område där alla eller nästan alla träd har huggits ned.
</p>
    <h3>Vad är trakthyggesbruk?</h3>

<p>    Detta är den vanligaste skogsbruksmetoden i Sverige. Först huggs skogen ned och sedan harvas jorden upp av stora skogsmaskiner. Därefter planteras massor av träd av samma art i området. Denna “skog” som växer upp består då av träd i samma storlek och ålder, och huggs sedan ner långt innan de vuxit färdigt. Det lämnar ett nytt kalhygge, varpå processen börjar om igen. En process som har många likheter med modernt jordbruk, dvs plöjning, sådd och skörd, vilket gör virkesåker eller trädplantage till mer passande namn än skog på de områden där den här metoden tillämpas.
</p>
    <h3>Varför är trakthyggesbruk dåligt?</h3>
    <p>Med trakthyggesbruk blir “skogen” helt utan variation. Utan en mångfald av träd - såsom olika arter, storlekar och åldrar - blir det heller ingen vidare mångfald av de andra arter som lever i och av skogen.

        Utöver att missgynna biologisk mångfald är trakthyggesbruk förödande för klimatet. När skogen kalavverkas och marken harvas upp frigörs stora mängder växthusgaser som annars finns bundna i jorden och annan växtlighet. Främst avges koldioxid, men även den 30 gånger kraftigare växthusgasen metan. Kalhygget i sig blir en klimatbov, och när skogen kalavverkas tar det upp till 20 år innan de nyplanterade träden börjar binda mer koldioxid än vad marken avger.

        Vidare är trakthyggesbruk negativt för rekreation och naturupplevelser eftersom varken kalhyggen eller de mörka, enformiga trädplantager som sedan växer upp på platsen är särskilt trevliga att vistas i.
    </p>
    <h3>    Vad är hyggesfritt skogsbruk?
    </h3>
<p>    Ett samlingsnamn för sätt att bruka skogen där marken hela tiden är skogsbevuxen, dvs aldrig kalhuggs. Den kontinuiteten gör att skogens struktur, ekosystem och livsmiljöer bevaras intakta istället för att förstöras med jämna mellanrum genom stora kalhyggen. Det gynnar i sin tur alla arter som anpassat sig till skogens ekosystem och den biologiska mångfalden generellt. Vidare skulle det ha direkt positiva klimateffekter eftersom skogen och marken hålls relativt intakt och skogens funktion som kolsänka bevaras. Dessutom ökar möjligheterna till turism och rekreation.
</p>




<h3>Via dessa länkar kan du läsa vidare om och få en större förståelse för svenskt skogsbruk, samt varför vi måste kämpa för att mer skog skyddas och att hyggesfria skötselmetoder används i högre större utsträckning.</h3>

<p>Hyggesfritt skogsbruk, Skogsstyrelsen, 2010 https://www.skogsstyrelsen.se/globalassets/mer-om-skog/hyggesfritt/hyggesfritt-skogsbruk-broschyr-2010.pdf</p> </br>

<p>Skogsbruk utan hyggen, Naturskyddsföreningen, 2010 https://www.naturskyddsforeningen.se/</br>sites/default/files/dokument-media/2010_skog_naturvard_skogsbruk_utan_hyggen.pdf</p></br>

<p>Svensk skog, Jordens vänner http://www.jordensvanner.se/vad-vi-gor/svensk-skog</p></br>

<p>Klimatet och skogen, Skydda Skogen http://klimatetochskogen.nu/</p></br>

<p>Om Svensk skog, Skydda skogen http://skyddaskogen.se/sv/svensk-skog</p>
</article>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="../navScript.js"></script>