<!DOCTYPE html>
<html class="engage-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Helt ärligt</title>
    <link rel="stylesheet" href="../styles/substyles.css">
    <link rel="stylesheet" href="../styles/overlay.css">

    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400i" rel="stylesheet">


</head>
<body>
<div class="content" id="logoContent">

    <img src="../media/Logga-utantext.png" id="logo"/>

</div>
<div class="content" id="navContent">


    <header>
        <nav class="menu">
            <div class="strokes"></div>
            <div class="strokes"></div>
            <div class="strokes"></div>
        </nav>
    </header>

    <div class="fullscreenmenu">
        <ul>
            <li>
                <a href="../index.html">START</a>
            </li>

            <li>
                <a href="../views/fof.html">FAKTA OCH FORSKNING</a>
            </li>

            <li>
                <a href="../views/svarpatal.html">OM SVENSKA SKOGEN VAR UPPRIKTIGA</a>
            </li>
            <li>
                <a href="../views/vadarsss.html">VAD ÄR SLUTA SLAKTA SKOGEN?</a>
            </li>
            <li>
                <a href="../views/engageradig.html">ENGAGERA DIG</a>
            </li>
            <li>
                <a href="../views/faltbiologerna.html">OM FÄLTBIOLOGERNA</a>
            </li>
        </ul>
    </div>

</div>

<article>

    <h2>Helt ärligt:</h2>

    <h3>“Vi har nu dubbelt så mycket skog som för 100 år sedan!”</h3>
    <p>Skogar är komplexa och artrika ekosystem. Vi har ersatt dessa med enorma virkesåkrar, alltså plantager med träd av samma sort, ålder och storlek. Men vi kallar det skog ändå, trots att det är lite som att kalla ett rapsfält för en äng. För då kan vi ju säga att vi har dubbelt så mycket skog nu som för 100 år sedan, och det låter ju mycket bättre än sanningen - nämligen att vi förstör vacker natur, ödelägger livsmiljöer, utrotar arter och misslyckas med att leva upp till miljömålen. Vi hycklar rejält, och vi gör det med stolthet.</p>

    <h3>“När skogen växer äter den koldioxid och förbättrar klimatet. När träden vuxit klart används de till klimatsmarta saker och material”.</h3>
    <p> När skogen växer äter den koldioxid och förbättrar klimatet. Ändå hugger vi ner den långt innan den vuxit klart och dessutom med metoder som släpper ut kolet som bundits i marken.</p>


    <h3> “Visste du att 70% av Sverige består av skog?”</h3>
    <p> Visste du att över 60% av Sveriges skog har avverkats sedan 50-talet och att endast 1% orörd urskog finns kvar?</p>
</article>
</body>
</html><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="../navScript.js"></script>