<!DOCTYPE html>
<html class="engage-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vad är sluta slakta skogen?</title>
    <link rel="stylesheet" href="../styles/substyles.css">
    <link rel="stylesheet" href="../styles/overlay.css">

    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400i" rel="stylesheet">



</head>
<body>
<div class="content" id="logoContent">

    <img src="../media/Logga-utantext.png" id="logo"/>

</div>
<div class="content" id="navContent">


    <header>
        <nav class="menu">
            <div class="strokes"></div>
            <div class="strokes"></div>
            <div class="strokes"></div>
        </nav>
    </header>

    <div class="fullscreenmenu">
        <ul>
            <li>
                <a href="../index.html">START</a>
            </li>

            <li>
                <a href="../views/fof.html">FAKTA OCH FORSKNING</a>
            </li>

            <li>
                <a href="../views/svarpatal.html">OM SVENSKA SKOGEN VAR UPPRIKTIGA</a>
            </li>
            <li>
                <a href="../views/vadarsss.html">VAD ÄR SLUTA SLAKTA SKOGEN?</a>
            </li>
            <li>
                <a href="../views/engageradig.html">ENGAGERA DIG</a>
            </li>
            <li>
                <a href="../views/faltbiologerna.html">OM FÄLTBIOLOGERNA</a>
            </li>
        </ul>
    </div>

</div>



<article>

</p>

    <h2>Vad är slutaslaktaskogen.se”?</h2>
    <p>
    
    “Sluta slakta skogen” är kampanj som drivs av Fältbiologernas för att få svenska skogsägare att ställa om från dagens destruktiva trakthyggesbruk till långsiktigt hållbara och hyggesfria skogsbruksmetoder.

Vår kampanj är också ett svar på skogsindustrin kampanj “Svenska Skogen”, som de menar är ett initiativ för att sprida kunskap om skogen. Egentligen är det snarare en propagandakampanj som förskönar skogsindustrins kalavverkningar och den svenska skogens tillstånd. Därför lanserar vi den här hemsidan för att deras vinklade version av sanningen om skogen inte ska få stå oemotsagd, och för att det faktiskt är vår planet och framtid som står på spel.

För både skogens och kommande generationers skull måste vi sluta slakta skogen!

Läs mer om vad Fältbiologerna tycker om skog <a href="https://www.faltbiologerna.se/vad-vi-tycker/skog/" class="links">i vårt skogspolitiska program</a>.
    </p>



</article>
</body>
</html><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="../navScript.js"></script>